*{
    margin: 0;
    padding: 0;
    font-size: 1vw;
    font-family: Poppins;
}
#Weather-container{
    width: 65rem;
    height: fit-content;
    border-radius: 2vw;
    background-image: url('./images/background-day.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.Weather-padding{
    padding: 4vw 3vw;
}
.Hovering:hover{
    cursor: pointer;
    opacity:1;
}