*{
    margin: 0;
    padding: 0;
    font-size: 1vw;
    font-family: Poppins;
}
#Weather-container{
    border-radius: 2vw;
    background-image: url('./images/background-day.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.Weather-padding{
    padding: 3vw 2vw;
}
.button-dark{
    background-color:#e0e3ff !important; 
    color: #2e316a !important;
}
.button-dark:hover{
    cursor: pointer !important;
    background-color: aliceblue !important;
}
.button-light{
    background-color: #17249a !important;
    color: white !important;
}
.button-light:hover{
    cursor: pointer !important;
    background-color: #1828b9 !important;
}
.night-mode{
    background-color:#273161 !important;
    color: rgb(255,255,255) !important;
}
.light-mode{
    background-color: white !important;
    color: black !important;
}
#CityList{
    background-color:whitesmoke;
    border-radius: 0.5rem;
    color: black;
}
.CityLi{
    padding: 1rem 0.5rem;
}
#History-Container{
    left: 60rem;
    top: -15rem;
}
.CityLi:hover{
    background-color:#e0e0e0;
    cursor: pointer;
}